@import url(https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Raleway&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap);
body {
  background: #292929;
}

h1 {
  margin-top: 60px;
  color: antiquewhite;
}


header {
    background: #000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5050;
    height: 50px;
    font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
    box-sizing: border-box;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 20px;
    padding-left: 20px;
}

.label {
  display: flex;
  align-items: center;
  margin-right: 2px;
}

input[type='search']{
    width: 30%;
    padding: .6em .7em;
    border: 1px solid grey;
    border-radius: 4px;
    color: rgb(197, 196, 196);
    outline-offset: 0px;
}


li {
    list-style-type: none;
    display: inline; 
}

a {
    margin-left: 20px;
    text-decoration: none;
    color: rgb(197, 196, 196);
}

a:hover {
    color: rgb(248, 248, 248);;
}

.profile {
    display: grid;
    grid-template-columns: 35px 100px;
    grid-template-rows: 15px 15px;
    grid-template-areas: "img login" "img rep";
}

.profile a {
    margin: 0;
}

#userImg {
    width: 30px; 
    grid-area: img;
}

 #userLogin {
    grid-area: login;
    font-size: 10px;
 
}

#userReputation {
    grid-area: rep;
    font-size: 10px;
}

 
@media screen and (max-width: 622px) {
    #log {
        font-size: 12px;
        padding: 2px;
        margin-left: 5px;
    }
}
/* @import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap'); */



h1 {
    color: #e7e8eb;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
    font-size: 27px;
    margin-bottom: 40px;
    margin-left: 20px;
}

body {
    min-height: 100vh;
    margin: 0;
  
    display: flex;
    flex-direction: column;
  }

.mainContainer {
    display: grid;
    grid-template-columns: 15% 55% 30%;
    grid-template-areas: "filters questionDiv .";
    min-height: calc(100vh - 70px);
    margin-bottom: 20px;
}

.questionDiv {
    grid-area: questionDiv;
}

.filters {
    grid-area: filters;
}
.question {
    position: relative;
    width: 750px;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding: 10px;
    padding-right: 20px;
    color: white;
    border-top: 1px solid #494949;
    display: grid;
    grid-template-columns: 200px 550px;
    grid-template-rows: auto auto;
    grid-template-areas: "allStats title" "allStats ." ;
    grid-gap: 10px;
}

.title {
    font-family: 'Raleway', sans-serif;
    color: #378ad3;
    font-size: 16px;
    font-weight: 600;
    /* width: max-content; */
    margin: 0;
    margin-right: auto;
    grid-area: title;
}

.allStats {
    grid-area: allStats;
    display: flex;
    justify-content: space-around;
}

.statistic {
    text-align: center;
    width: 50px;
    height: 50px;
    color: #9fa6ad;
    font-family: 'Roboto Condensed', sans-serif;
    padding: 5px;
    font-size: 18px;
}

.statistic > p {
    margin: 10px 0;
    font-size: 12px;
}

.answered {
    border: 1px solid #60b171;
    color: #60b171;
    border-radius: 3px;
}

#checkAnswer {
    background: #5a9f70;
    color:azure;
}

.tagsAndOwner {
    display: flex;
    flex-wrap: wrap;
    /* padding: 0 5px; */
    /* justify-content: flex-start; */
}

.tagItem {
    /* flex: 1 1 auto; */
    margin: 5px 5px 0px 0px;
    background-color: #3c4951;
    color: #8cbfc1;
    padding: 7px;
    height: 10px;
    line-height: 10px;
    font-size: 15px;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 3px;
}

.questionOwner {
    color: #9fa6ad;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 13px;
    margin-top: 10px;
    margin-left: auto;
}

.questionOwner > a {
    margin-left: 2px;
    margin-right: 2px;
}

#userName {
    color: #378ad3;
    cursor: pointer;
}

.ownerimg {
    width: 30px; 
   position: absolute;
   top: 5px;
   right: 5px;
   z-index: 10;
}

/* filter block */

.filters {
    margin-bottom: 50px;
}

.filterH1 {
    margin-left: 40px;
}

.itemFilters, .ascDescFilters {
    font-family: 'Roboto Condensed', sans-serif;
    margin-left: auto;
    margin-right: 0;
    margin-top: 2px;
    padding: 5px;
    width: 150px;
}

.itemFilters {
    color: #000000;
    font-weight: 500;
    letter-spacing: 1px;
    background: #ffffff;
    border-right: 2px solid #ffffff;
    cursor: pointer;
}

.itemFilters::first-letter {
    text-transform: uppercase;
}


.ascDescFilters {
    background: #ffffff;
    text-align: center;
    margin-bottom: 10px;
}

.ascDescFilters > button {
    margin-left: 5px;
    background: none;
    border: 1px solid #dddddd;
    color: #000000;
    cursor: pointer;
}




footer {
    display: block;
    margin-bottom: -200px;
    background: #363636;
    color: #9fa6ad;
    font-family: 'Roboto Condensed', sans-serif;
    display: flex;
}


@media screen and (max-width: 1095px) {
    .filterH1 {
        margin-left: 5px;
    }

    .mainContainer {
        grid-template-columns: 16% 84% 0%;
    }

    .itemFilters, .ascDescFilters {
        margin-left: 0;
    }
    
    .title {
       font-size: 15px; 
    }
    
    .question {
        grid-template-columns: 120px auto;
    }
    
    .allStats {
        width: 100px;
        margin-left: 10px;
    }

    .statistic {
        /* font-size: 15px; */
        width: 50px;
        /* margin-left: 10px; */
    }

}

@media screen and (max-width: 921px) {
    .mainContainer {
        grid-template-columns: 18% 82% 0%;
    }
    .question {
        grid-template-columns: 120px 500px;
    }
}

@media screen and (max-width: 831px) {
    .mainContainer {
        grid-template-columns: 25% 75% 0%;
    }
    .question {
        width: 520;
        grid-template-columns: 120px 350px;
    }
}

@media screen and (max-width: 668px) {
    .mainContainer {
        grid-template-columns: 25% 75% 0%;
    }

    .itemFilters, .ascDescFilters {
        width: 100px;
    }

    .question {
        width: 520;
        grid-template-columns: 120px 200px;
    }
}

@media screen and (max-width: 480px) {
    h1 {
      margin-bottom: 0;
      margin-top: 0;
    }

    .mainContainer {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "filters" "questionDiv";
    }

    .filters {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        margin-bottom: 0;
    }

    .ascDescFilters {
        width: 100px; 
    }
    
    .ascDescFilters > button {
        font-size: 12px;
        margin: 0;
        width: 100%;
    }

    .question {
      width: 100%;
    }
}
.mainUserContainer {
    display: grid;
    width: 100%;
    display: grid;
    grid-template-rows: 30% 70%;
    grid-template-areas: "filters usersDiv";
}

.usersDiv {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    width: auto;
    margin-left: 20px;
    grid-area: usersDiv;
    margin-bottom: 20px;
    border-left: 1px solid #494949;
}

.userItem {
    width: 200px;
    margin-top: 20px;
    margin-right: 20px;
    position: relative;
}

.usersimgs {
    width: 50px;
    border-radius: 3px;
    float: left;
    margin-right: 5px;
    cursor: pointer;
    position: relative;
}

.usersimgs:hover {
    z-index: 9;
}

.userItem > p {
    margin: 0;
    z-index: -2;
}

.userName {
    margin: 0;
    color: #378ad3; 
    font-size: 14px;
    cursor: pointer;
}

.userName:hover {
    color: #1466ad;
}

.userLocation {
    color: #acb2b8; 
    font-size: 12px;
}

.userRep {
    color: #acb2b8;
    font-size: 12px;
    font-weight: 700;
}

.allTags {
    display: flex;
}

.tags {
    color: #378ad3;
    margin: 0;
    margin-right: 2px;
    font-size: 12px;
    cursor: pointer;
}

.tags:hover {
    color: #1466ad;
}

.priviewUser {
    width: 200px;
    height: 110px;
    overflow: hidden;
    /* background: #c5c9cd; */
    background: #C4C4C4;
    z-index: 8;
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 3px;
    padding-left: 70px;
    padding-bottom: 10px;
}

.priviewUser > p {
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0,5px;
    color: rgb(100, 100, 100);
    margin-bottom: 5px;
}

.priviewUser > a {
    margin: 0;
}

.badgesContainer {
    display: flex;
}

.badgesItem {
    display: flex;
    font-size: 12px;
    font-weight: bold;
    color: rgb(80, 79, 79);
    margin-right: 3px;
}

.badge {
    margin-top: 4px;
    width: 5px;
    height: 5px;
    margin-right: 2px;
    border-radius: 50%; 
}

#gold {
    background: gold;
}

#silver {
    background: #969696;
}

#bronze {
    background: #cd7f32;
}

.aboutMe {
    font-size: 10px;
}

/*user page*/

.oneUserName {
    margin-bottom: 0;
}

.mainUsersContainer {
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-areas: "filters allUsers";
}

/* .allUsers {
    grid-area: allUsers;
    display: flex;
    flex-wrap: wrap;
} */

.mainUser {
    min-height: calc(100vh - 70px);
    margin-bottom: 20px;
    position: relative;
    width: 700px;
    font-family: 'Roboto Condensed', sans-serif;
}

.mainUser > .userLocation {
 
    font-size: 20px;
    border-bottom: 2px solid rgb(73, 71, 71);
    margin-bottom: 10px;
    padding: 10px;
}


.aboutUser {
    color: silver;
    margin-left: 10px;
    /* position: absolute;
    top: 50px;
    left: 170px;
    height: max-content; */
}

.aboutUser > p > a {
    margin-left: 0;
}

.oneUserName {
    color: #378ad3;
}

.badges > .badgesItem {
    font-size: 15px;
    color: #969696;

}

.badges {
    margin-left: 20px;
}

.imgAndBadges {
    height: auto;
    min-height: 400px;
    float: left;
    display: flex;
    flex-direction: column;
    font-size: 25px;
}

.bigUserImg {
    margin-left: 20px;
    float: left;
    margin-right: 20px;
    height: 150px;
    margin-bottom: 10px;
}
.tagsContainer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    grid-area: tagsContainer;
}

.mainTagContainer {
    width: 100%;
    display: grid;
    grid-template-rows: 15% 85%;
    grid-template-areas: "filters tagsContainer";
}

.tagDiv {
    width: 220px;
    height: 150px;
    border: 1px solid #494949;
    margin: 5px;
    border-radius: 3px;
    padding: 10px;
    padding-top: 15px;
    font-family: 'Roboto Condensed', sans-serif;
}

.tagItem  {
    padding: 3px;
    /* margin-top: 10px; */
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
}

.tagCount {
    margin-top: 5px;
    font-size: 12px;
    color: #9fa6ad;
}

.tagWiki {
    margin-top: 5px;
    padding: 10px 0 10px 0;
    height: 80px;
    overflow: hidden;
    color: whitesmoke;
    font-size: 14px;
}
.questionInfo {
    width: 900px;
    /* background: pink; */
    margin: 0 auto;
    margin-bottom: 20px;
    position: relative;
}

.questionInfo > h1 {
    font-weight: 600;
}

.questionBody {
    color: rgb(197, 196, 196);
}

.questionBody > p > a > img {
    max-width: 700px;
}

.questionScore {
    display: flex;
    flex-direction: column;
    width: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    left: -30px;
}

.questionScore > span {
    width: 20px;
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 25px;
    color: rgb(197, 196, 196);
}



pre {
    background: black;
    padding: 10px;
    border-radius: 8px;
    max-height: 500px;
    overflow: auto;
}

.questionTags {
    display: flex;
}

.tagItem {
    padding: 10px;
}

.owner {
    color: rgb(197, 196, 196);
    padding: 5px;
    width: 200px;
    background: #3c4951;
    font-family: 'Roboto Condensed', sans-serif;
    border-radius: 3px;
    margin-left: auto;
    margin-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

.owner > p {
    margin: 0;
    font-size: 14px;
    margin-bottom: 2px;
}

.ownerImg {
    width: 40px;
    border-radius: 2px;
    float: left;
    margin-right: 5px;
}

.commentItem {
    color: rgb(197, 196, 196);
    padding: 10px;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
    border-bottom: 1px solid #494949;
    border-top: 1px solid #494949;
    margin-top: -1px;
    position: relative;
}

.commentItem > div > code {
    background: #3e4143;
    padding: 2px;
}

.commentItem > div {
    width: 780px;
}

.commentItem > a {
    position: absolute;
    right: 10px;
    bottom: 5px;
}

.emptyComments {
    color: rgb(197, 196, 196);
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 15px;
}

h2 {
    color: #e7e8eb;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
    font-size: 20px;
}

.commentItem > .owner {
    width: 200px;
}

.answerScore {
    display: flex;
    flex-direction: column;
    width: 30px;
    font-family: 'Roboto Condensed', sans-serif;
    position: absolute;
    left: -30px;
}

.answerScore > span {
    width: 20px;
    text-align: center;
    margin: 10px 0 10px 0;
    font-size: 25px;
}

.vote {
    width: 20px;
    cursor: pointer;
}

.accepted {
    width: 35px;
    position: absolute;
    top: 20px;
    left: -40px;
}
